<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceder Tela</title>
</head>
<body>
    <button id="cedeTela">Ceder Tela</button>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        document.getElementById('cedeTela').addEventListener('click', () => {
            socket.emit('cedeTela', { status: 'active' });
            alert('Você cedeu sua tela ao controlador.');
        });

        socket.on('alterarCor', (data) => {
            document.body.style.backgroundColor = data.cor;
        });

        socket.on('mostrarImagem', (data) => {
            let img = document.createElement('img');
            img.src = data.url;
            document.body.appendChild(img);
        });

        socket.on('playAudio', (data) => {
            const audio = new Audio('data:audio/wav;base64,' + data.audio);
            audio.play();
        });
    </script>
</body>
</html>
